<mat-toolbar class="toolbar">
  <div fxHide.lt-sm>
    <span class="column-label">Columns</span>
    <mat-slider [max]="6" [min]="3" [(ngModel)]="gridColumns" [thumbLabel]="true"></mat-slider>
  </div>
</mat-toolbar>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="50px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"
         *ngFor="let singlePokemon of pokemons">
      <pokemon-list-item [thisPokemon]="singlePokemon"></pokemon-list-item>
    </div>
  </div>
</div>
