.login-button{
  color: #2a9d8f;
  border-color: #2a9d8f;
  margin-top: 10px;
  width: 80px;
  height: 40px;
  border-width: 2px;
  border-radius: 25px;
  font-family: "Bahnschrift", sans-serif;
  font-size: 15px;
}

.warning{
  margin-top: 20px;
  color: #2a9d8f;
  font-family: "Bahnschrift", sans-serif;
  font-size: 15px;
}
