<header class="container mx-auto p-4">
  <h1 class="profile-title">{{this.user?.username}}'s Profile</h1>
</header>
<p class="profile-subheader">Pokemon collected: {{this.user?.pokemon?.length}}</p>
<main style="padding-left: 150px; padding-right: 100px" class="container mx-auto p-4">
  <div fxLayout="row wrap" fxLayoutGap="50px grid">
    <ng-container>
      <tr *ngFor="let singlePokemon of this.user?.pokemon; let i = index">
        <mat-card class="pokemon-card">
          {{ getFormattedName(singlePokemon.name) }}
          <span>
      <br>
      <img class="pokemon-image animate__animated animate__tada animate__faster" [src]="GetImageUrl(singlePokemon.url)"
           alt="NO IMAGE"/>
    </span>
          <br>
          <button (click)="removeFromCollected(singlePokemon.name)">Remove</button>
        </mat-card>
      </tr>
    </ng-container>
  </div>
</main>
