<div>
  <ng-container *ngIf="!loading; else spinner">
  <img
    class="pokeball-image animate__animated animate__wobble"
    *ngIf="isCollected"
    src="assets/pokeball.png"
    alt="image"
    />
  </ng-container>
  <br />
    <button (click)="onCollectClick()">
      {{ isCollected ? "Collected" : "Collect" }}
    </button>
  <ng-template #spinner>
    <span class="material-icons animate-spin text-red-500">refresh</span>
  </ng-template>
</div>
