<main  style="padding-left: 100px; padding-right: 100px" class="container mx-auto p-4">
  <h1 class="catalogue-title">Pokemon Catalogue</h1>
  <button class="catalogue-filter" *ngIf="currentFilter!=''" (click)="resetFilter()">Reset filter&emsp;</button>
  <br>
  <span *ngFor="let char of alphabet">
    <button class="catalogue-filter" (click)="setFilter(char)">{{char.toUpperCase()}}</button>
  </span>
  <br>
  <br>
  <button class="catalogue-navigation" *ngIf="prevPageAvailable()" (click)="prevPokemons()">PREVIOUS PAGE&emsp;</button>
  <ng-container *ngIf="prevPageAvailable() && nextPageAvailable()">|</ng-container>
  <button class="catalogue-navigation" *ngIf="nextPageAvailable()" (click)="nextPokemons()">&emsp;NEXT PAGE</button>
  <pokemon-list [pokemons]="pokemons"></pokemon-list>
  <br>
  <button class="catalogue-navigation" *ngIf="prevPageAvailable()" (click)="prevPokemons()">PREVIOUS PAGE&emsp;</button>
  <ng-container *ngIf="prevPageAvailable() && nextPageAvailable()">|</ng-container>
  <button class="catalogue-navigation" *ngIf="nextPageAvailable()" (click)="nextPokemons()">NEXT PAGE</button>
</main>
