.catalogue-title{
  color: #2a9d8f;
  font-family: "Bahnschrift", sans-serif;
  font-size: 35px;
}

.catalogue-navigation{
  color: #2a9d8f;
  font-family: "Bahnschrift", sans-serif;
  font-size: 15px;
}

.catalogue-filter{
  color: #2a9d8f;
  font-family: "Bahnschrift", sans-serif;
  font-size: 15px;
  padding-right: 2px;
}
