@import '~animate.css/animate.min.css';
@import '~animate.css/animate.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { font-family: Bahnschrift, sans-serif; background-color: #e9c46a; height: 100%; text-align: center}
body { margin: 0; }
