<mat-card class="pokemon-card" *ngIf="thisPokemon">
  <h3 class="pokemon-name">{{ getFormattedName(thisPokemon.name) }}</h3>
  <img class="pokemon-image animate__animated animate__rollIn animate__faster" [src]="GetUrl(thisPokemon.url)" alt="NO IMAGE AVAILABLE" />
  <mat-card-actions>
    <button mat-button><app-collect-button [pokemonId]="thisPokemon.name"></app-collect-button></button>
    <div>
    <button mat-button *ngIf="thisPokemon && _pokemonData == null" (click)="getDetails(thisPokemon.url)">Show Details</button>
    <br>
    <button mat-button *ngIf="thisPokemon && _pokemonData != null" (click)="hideDetails()">Hide Details</button>
    </div>
    <section>
      <li class="pokemon-details" *ngIf="_pokemonData">
        <ul>- Types: {{getTypes(_pokemonData)}}</ul>
        <ul>- Abilities: {{getAbilities(_pokemonData)}}</ul>
        <ul>- Weight: {{_pokemonData.weight}}, height: {{_pokemonData.height}}</ul>
        <ul>- First appearance: {{getFirstAppearance(_pokemonData)}}</ul>
        <ul>- Base xp: {{_pokemonData.base_experience}}</ul>
        <ul></ul>
      </li>
    </section>
  </mat-card-actions>
</mat-card>
