.pokemon-card{
  background-color: #2a9d8f;
  text-align: center;
  border-radius: 25px;
  border: solid 2px #a2ffcb;
}

.pokemon-image{
  display: inline-flex;
  width: 60%;
  height: 60%;
  alignment: center;
}

.pokemon-name{
  color: #a2ffcb;
  font-size: large;
}

.pokemon-details{
  padding: 5px 15px 10px 15px;
  text-align: left;
  font-size: smaller;
  list-style-type: none;
  background-color: #279083;
  border-radius: 10px;
}
